{
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 60
      }
    },
    {
      "files": "*.jsonc",
      "options": {
        "printWidth": 100,
        "trailingComma": "none"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 150
      }
    }
  ]
}
