{
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 60
      }
    },
    {
      "files": "*.js",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
