description: An 8-Bit computer built completely on breadboards
theme: just-the-docs #url: https://just-the-docs.github.io
favicon_ico: "/resources/icons/favicon.png"
logo: "/resources/icons/logo.png"

aux_links:
  View Project on GitHub: https://github.com/CodingFactoryT/8-Bit-Breadboard-Computer

callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red

plugins:
  - jemoji
